html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px !important;
}

.header {
    width: 100%;
    padding-bottom: 10px;
}

.logo {
    width: 175px;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-center ul {
    list-style: none;
    padding-top: 26px;
    margin-left: 10px;
}

.header-center ul li {
    display: inline;
    margin: 5px;
}

.header-center ul li a {
    text-decoration: none;
    font-size: 14px;
    border: 0.5px solid #0f62ac;
    padding: 4px 16px 4px 16px;
    border-radius: 3px;
    color: #0f62ac;
}

.header-right-top {
    float: right;
}

.header-right-top a {
    font-size: 12px;
    font-family: arial;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.header-right-bottom {
    float: right;
}

.header-right-bottom img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 8px;
}

.header-right-bottom a {
    width: 190px;
    height: 16px;
    font-family: arial;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.header-right-bottom span[email],
span[lh] {
    float: right;
}

.menu {
    background-color: #0087ff;
}

.navbar {
    background-color: #0087ff !important;
    padding: 0px !important;
}

.navbar ul li a {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #ffffff !important;
    padding-right: 22px !important;
    padding-left: 10px !important;
}

.navbar ul li a:hover {
    background-color: #0f62ac;
}

.menu-C2 {
    height: 30px;
    background-color: #f1f1f1;
}

.menu-C2-1 a {
    width: 58px;
    height: 16px;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    line-height: 30px;
    color: #4c84ff;
}

.menu-C2-1 img {
    margin-left: 5px;
}

.menu-C2-1 span[ks] a {
    color: #666666;
}

.tour-dl-DN {
    width: 100%;
    height: auto;
    background-color: #f8f9f9;
}

.tour-dl-DN .likeshare {
    display: flex;
}

.tour-dl-DN .tour-du-lch-nng h2 {
    height: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: 15px;
    margin-top: 22px;
}

.tour-dl-DN .likeshare {
    padding-left: 15px;
    margin-top: 20px;
}

.likeshare .danh-gia {
    line-height: 33px;
    display: flex;
}

.likeshare .danh-gia span {
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    line-height: 33px;
    margin-left: 18px;
    margin-right: 10px
}

.likeshare .danh-gia b {
    line-height: 33px;
    margin-left: 10px;
    margin-top: 10px;
    height: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.likeshare .danh-gia b font {
    font-weight: bold;
    color: #000000;
}

.tour-dl-DN .star {
    line-height: 33px;
}

.tour-dl-DN .star img {
    line-height: 33px;
}

.tour-dl-DN-15-tr {
    height: auto;
    width: 100%;
    margin-top: 40px;
}

.tour-dl-DN-15-tr h2 {
    position: relative;
    line-height: 36px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    display: flex;
    margin-bottom: 0px;
}

.tour-dl-DN-15-tr .sap-xep {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.sap-xep1 p {
    width: 80px;
    height: auto;
    line-height: 36px !important;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 0px;
    margin-left: 10px;
}

.sap-xep2 p {
    width: 93px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-bottom: 16px;
}

.sap-xep .sap-xep2 p {
    width: 145px;
    height: 36px;
    border-radius: 3px;
    background-color: #0f62ac;
    line-height: 36px;
}

.tour-dl-DN-15-tr .narrow {
    margin-left: 10px;
}

.tour-dl-DN-15-tr .narrow p {
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    line-height: 36px;
}

.tour-dl-DN-15-tr .narrow p img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.tour-dl-DN-15-tr .narrow p {
    width: 145px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
}

.so-thich .nhieu-nguoi-co-so-thich {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #666666;
    padding-left: 15px;
    padding-bottom: 21px;
}


/* section */

.sections {
    display: flex;
    flex-flow: wrap;
    padding-top: 26px;
}

.sections .photo a img {
    width: 100%;
}

.sections .product {
    margin: 5px;
    flex: 1 1 19%;
    border-radius: 3px;
    border: solid 0.5px rgba(0, 0, 0, 0.12);
}

.sections .product1 {
    margin-left: 1px;
}

.sections .product5 {
    margin-right: 1px;
}

.sections .product6 {
    margin-left: 1px;
}

.sections .product10 {
    margin-right: 1px;
}

.sections .product11 {
    margin-left: 1px;
}

.sections .product15 {
    margin-right: 1px;
}

.sections .photo {
    position: relative;
}

.sections .photo .sale {
    position: absolute;
    top: -1px;
    right: -2px;
}

.sections .sale p {
    font-size: 10px;
    margin-bottom: 0;
}

.sections .sale p:last-child {
    margin-top: -5px;
}

.sections .sale span {
    font-size: 24px;
}

.sections .photo .sale .number {
    position: absolute;
    top: 7px;
    left: 3px;
    right: 0;
    text-align: center;
    color: white;
    font-weight: 700;
}

.sections .photo .cook {
    display: flex;
    position: absolute;
    bottom: 9px;
    left: 11px;
}

.sections .photo .cook span {
    width: 37px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 5px;
}

.sections .photo .cook img {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.sections .photo .cho {
    position: absolute;
    right: 11px;
    bottom: 9px;
}

.sections .photo .cho span {
    width: 41px;
    height: 16px;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 11px;
}

.sections .photo .cho img {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.sections .title-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}

.ngay .ngay1 {
    display: flex;
}

.ngay img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: 5px;
    margin-top: 0px;
}

.ngay p:nth-child(3) {
    margin-left: 20px;
}

.ngay p:nth-child(1) {
    margin-bottom: 10px;
}

.ngay p {
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #484848;
}

.sections .title .ngay {
    width: 138px;
    float: left;
    text-align: left;
}

.sections .title .gia {
    text-align: right;
    float: right;
}

.sections .title .gia p b {
    width: 86px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ff0013;
}

.sections .title .btn-giucho {
    width: 88px;
    height: 30px;
    border-radius: 3px;
    background-color: #ff9300;
    font-weight: 500;
    color: white;
    border: none;
}

.sections .title .info {
    padding-left: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.sections .title .title-a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.sections .product .title {
    padding: 9px;
}

.sections .product .title .star {
    padding: 4px 0 10px 0;
}


/* end section */


/* btn xem them */

.xemthem {
    margin-top: 20px;
    text-align: center;
}

.xemthem button {
    width: 145px;
    height: 36px;
    border-radius: 3px;
    border: solid 1px #0f62ac;
    text-align: center;
}


/* end btn xem them */


/* cac dia danh ab na ha noi */

.Ba-Na {
    margin-top: 19px;
    margin-bottom: 18px;
}

.Hoi-An {
    margin-top: 19px;
    margin-bottom: 18px;
}


/* end cac dia danh ab na ha noi */


/*footer-sukien*/

.footer-sukien {
    width: 100%;
    padding-top: 30px;
}

.footer-sukien .su-kien {}

.footer-sukien .su-kien img {
    padding: 0px;
    margin: 0px;
    width: 100%;
}


/*footer-center*/

.footer-center {
    width: 100%;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-center .footer-1 .title {
    padding: 0;
    padding-top: 46px;
}

.footer-center .footer-1 .title h4 {
    padding: 0px;
    font-family: arial;
    font-size: 15.5px;
    font-weight: bold;
    color: white;
    border-left: 3px solid #ff9300;
    padding-left: 7px;
}

.footer-center .footer-1 .title ul {
    color: #0087ff;
    padding: 10px;
    margin-left: 20px;
}

.footer-center .footer-1 .title ul li a {
    color: white;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    line-height: 35px;
}

.footer-center .border-1 {
    border: 1px solid white;
}

.footer-center .border-2 {
    border: 1px solid white;
}

.footer-center .footer-2 .logo-1 {
    padding: 0;
    padding-top: 24px;
}

.footer-center .footer-2 .logo-1 img {
    width: 246px;
    height: 85px;
}

.footer-center .footer-3 {
    padding-bottom: 15px;
}

.footer-center .footer-3 .title-2 {
    padding: 0;
    padding-top: 15px;
}

.footer-center .footer-3 .title-2 h4 {
    color: white;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
}

.footer-center .footer-3 .title-3 ul {
    padding: 0;
    margin: 0px;
    list-style: none;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 25px;
}

.footer-center .footer-3 .title-3 ul li {
    padding-bottom: 20px;
}

.footer-center .footer-3-1 .title-3 ul li a img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 5px;
}

.footer-center .footer-3 .title-3 ul li a {
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 14px;
}

.footer-center .footer-3-1 .title-3 {
    padding: 0;
}

.footer-center .footer-3-1 .title-3 ul {
    padding: 0px;
    list-style: none;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.footer-center .footer-3-1 .title-3 ul li {
    padding-bottom: 20px;
}

.footer-center .footer-3-1 .title-3 ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.footer-center .footer-3-1 .title-3 ul li a img {
    margin-right: 5px;
}

.footer-center .footer-4 .icon {
    padding: 25px 18px 10px 12px;
}

.footer-center .footer-4 .icon-1 p {
    font-size: 13.5px;
    font-family: arial;
    font-weight: 550;
    color: white;
    padding: 45px 0px 0px 0px;
}

.footer-center .footer-4 .icon-2 img {
    padding: 35px 12px 0px 12px;
}

.footer-center .thanhtoan {
    padding-top: 20px;
    padding-bottom: 15px;
}

.footer-center .thanhtoan .tt h3 {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.flex-container>div {
    margin: 5px;
    text-align: center;
    line-height: 80px;
    width: calc(14% - 10px);
}

.footer-center .footer-5 {
    padding-bottom: 20px;
}

.footer-bottom {
    width: 100%;
    height: 26px;
    background-color: #0f62ac;
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 14px;
    line-height: 26px;
}

.d-flex img {
    width: 69.7px;
    height: 30px;
    object-fit: contain;
}

.footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.footer .card-group {
    width: 100%;
    line-height: 80px;
    text-align: center;
    display: flex;
}

.mask {
    padding-left: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-right: 0px;
}

.pay-la-gi-copy-7 img {
    width: 84.1px;
    height: 50px;
    object-fit: contain;
}

.nganluong img {
    width: 133.3px;
    height: 40px;
    object-fit: contain;
}

.Line-3-Copy {
    width: 1145px;
    height: 2px;
    border: solid 1px #ffffff;
}

@media screen and (max-width: 768px) {
    .flex-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}


/*Responsive*/

@media screen and (max-width:1199.98px) {
    .header-center {
        display: none;
    }
    .header-right {
        display: none;
    }
}

@media screen and (max-width:991.98px) {}

@media (min-width:768px) and (max-width: 1199.98px) {
    .sections>.product {
        flex: 1 1 30% !important;
    }
}

@media (min-width:576px) and (max-width: 767.98px) {
    .sections>.product {
        flex: 1 1 45% !important;
    }
}

@media (max-width: 575.98px) {
    .sections>.product {
        flex: 1 1 100% !important;
    }
}

@media screen and (max-width: 767.98px) {
    .footer-4 .icon-1 {
        display: none;
    }
    .footer-4 .icon-2 {
        padding-bottom: 15px;
    }
    .footer-4 .icon-2 img {
        margin: 0px;
    }
    .footer-center .footer-1 {
        margin-left: 15px;
    }
}